HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
.idea/workspace.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### MySql ####
client/async_example
client/decimal.c
client/link_sources
client/log_event.cc
client/log_event.h
client/log_event_old.cc
client/log_event_old.h
client/my_decimal.cc
client/my_decimal.h
client/my_user.c
client/mysql
client/mysql_plugin
client/mysql_priv.h
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
client/rpl_constants.h
client/rpl_record_old.cc
client/rpl_record_old.h
client/rpl_tblmap.cc
client/rpl_tblmap.h
client/rpl_utility.h
/target/
*.properties
*.MF



*.class
