
.idea/workspace.xml
WikiWebService/.idea/workspace.xml
.metadata
WikiWebService/.classpath
WikiWebService/.project
WikiWebService/.settings
WikiWebService/bin
WikiWebService/target
Servers
TeamBravoWiki/bin
.settings

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/


